/* Turquoise : #1abc9c */
/* Gris concrete : #95a5a6 */

/* GLOBAL */
.heading-site {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.block .container{
    margin-bottom: 50px;
}

/* HEADER */
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    z-index: 999;
}

.header a:hover {
    color: #1abc9c;
}

.header-logo {
    margin-left: 25px;
    color: white;
    font-weight: bold;
}

.header.scrolled {
    background-color: rgba(0,0,0,0.7)
}

.header .header-menu {
    float: right;
    margin-right: 30px;
}

.header .header-menu a {
    margin-right: 15px;
    color: #fff;
}

.header .header-menu a:hover {
    color: #1abc9c;
}

/* BANNER */
.banner {
    margin-top: -25px;
}

.banner .banner-image {
    position: relative;
}

.banner .banner-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 150px;
}

.banner .banner-content h1, .banner .banner-content h2 {
    color: #95a5a6;
}

/* ABOUT */
.heading-site {
    color: #4A4A4A;
}

.about .about-single-element .icon {
    font-size: 60px;
    text-align: center;
}

.about .about-single-element {
    text-align: center;
}

.about-single-element p {
    text-align: left;
    margin-top: 20px;
}

/* PORTFOLIO */
.tile.is-child {
    color: #95a5a6;
    background-color: #000;
}

.portfolio p {
    color: #95a5a6;
}

/* FOOTER */

.footer-informations {
    text-align: center;
    margin-top: 30px;
}

.footer-informations .icone {
    font-size: 30px;
    margin: 10px;
}


.footer-informations ul {
    padding: 0;
}

.footer-informations ul li {
    display: inline-block;
    list-style-type: none;

}

/* THANKS IMAGE */
.thanks {
    float: left;
    width: 90%;
    text-align: left;
}

/* MODAL */
.own-modal {
    padding-top: 120px;
}

/* CV */
.download {
    margin-right: 10px;
}

/* NIGHT MODE */
.night_mode {
    float: right;
    text-align: right;
}

.night_mode_checkbox {
    width: 25px;
    height: 25px;
}

.fa-moon {
    float: right;
    text-align: right;
    width: 25px;
    height: 25px;
}